<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="hrsoft.monitor_android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_monitor_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".account.LoginActivity"/>
        <activity android:name=".main.MainActivity"/>
        <activity android:name=".mine.activity.PersonalActivity"/>
        <activity android:name=".mine.activity.WorkerActivity"/>
        <activity android:name=".mine.activity.AddWorkerActivity"/>
        <activity android:name=".procedure.activity.ProcedureDetailActivity"/>
        <activity android:name=".procedure.activity.SchedulingActivity"/>
        <activity android:name=".procedure.activity.ProcedureAddWorksActivity"/>
        <activity android:name=".manage.activity.RecordActivity"/>
        <activity android:name=".manage.activity.WorkersActivity"/>
        <activity android:name=".manage.activity.ProcedureListActivity"/>
    </application>

</manifest>